{% extends 'home/home.html' %}

{% block content %}
    <div>
        <form form action="{% url 'readfile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><strong>ĐƯỜNG DẪN FILE TÀI LIỆU</strong></p>
            <p><textarea type="text" cols="80" rows="2"  name="link">D:/HeThong_CSDLDPT/HeThong_CSDLDPT/File/{{newfile.file}}</textarea></p>
            <p><strong>ĐƯỜNG DẪN FILE TỪ ĐIỂN</strong></p>
            <p><textarea type="text" cols="80" rows="2" name="dictionary">D:/HeThong_CSDLDPT/HeThong_CSDLDPT/File/dictionary/dictionary{{newfile.doc_id}}.txt</textarea></p>
            <input class="btn btn-success" value="Xác nhận" type="submit">
        </form>
       
    </div>
{% endblock %}