<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form form action="{% url 'readfile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>DOCUMENT</p><input type="text" value="D:/HeThong_CSDLDPT/HeThong_CSDLDPT/File/{{newfile.file}}" name="link">
            <p>DOCUMENT</p><input type="text" value="D:/HeThong_CSDLDPT/HeThong_CSDLDPT/File/dictionary/{{newfile.doc_id}}.txt" name="dictionary">
            <input type="submit">
        </form>
       
    </div>
</body>
</html>